<<<<<<< HEAD
<%= @recipe.name %> <br>
<%= @recipe.ingredients %> <br>
<%= @recipe.cook_time %><br>

<a href="/recipes/<%= @recipe.id %>/edit">Edit</a>
<form action="/recipes/<%= @recipe.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE"/>
  <input type="submit" value="delete"/>

</form>
=======
<h1>@recipe.name</h1>
>>>>>>> 0348e9cbaab674662f4012bfb111818eafbefeae
